input[type="button"]{
    height: 75px;
    width: 75px;
    background-color: rgb(153, 0, 255);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

body{
    background-color: rgb(22, 22, 22);
}

#placar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 655px;
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(163, 163, 163);
    border: 3px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-top: 40px;
}

#placar p{
    margin-left: 5px;
}

html, body{
    overflow-y: hidden;
    overflow-x: hidden;
}

.reset input[type="button"]{
 color: white;
 width: 380px;
 border-radius: 15px;
 margin-left: 10px;
}

.reset input[type="button"]:hover{
    color: white;
    width: 380px;
    border-radius: 15px;
    margin-left: 10px;
    background-color: rgb(223, 220, 220);
   }

input[type="button"]:hover{
    transition: 0.2s;
    background-color: rgb(110, 0, 184);
}

#placar{
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}